{#- Analytics: emit nothing unless an id is configured. -#}
{%- if site.analytics.googleTagId %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.googleTagId }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.analytics.googleTagId }}', { anonymize_ip: true });
</script>
{%- endif %}
{%- if site.analytics.plausibleDomain %}
<script defer data-domain="{{ site.analytics.plausibleDomain }}" src="https://plausible.io/js/script.js"></script>
{%- endif %}
